<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="croatia.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <croatia.My.MySettings>
            <setting name="p1link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p2link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p3link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p4link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p5link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p6link" serializeAs="String">
                <value>https://google.com</value>
            </setting>
            <setting name="p1stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p2stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p3stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p4stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p5stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p6stime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p1endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p2endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p3endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p4endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p5endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="p6endtime" serializeAs="String">
                <value>12:00:00 AM</value>
            </setting>
            <setting name="firstlaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="listen" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="alwaysontop" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="keyphrase" serializeAs="String">
                <value>Please Fill</value>
            </setting>
            <setting name="p1chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="p2chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="p3chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="p4chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="p5chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="p6chatattendance" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="timetowait" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="chmessage" serializeAs="String">
                <value>Sorry I took so long to type, it wasnt letting me open the chat box.</value>
            </setting>
            <setting name="mpcheck" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp1" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp2" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp3" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp4" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp5" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="mp6" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="fakelag" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="dolag" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="lagged" serializeAs="String">
                <value>false</value>
            </setting>
        </croatia.My.MySettings>
    </userSettings>
</configuration>